<header>
  <img
    src="assets/img/130.png"
    alt="gustavo bruno-foto perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Gustavo Bruno Ferreira</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | React | SCSS</p>
    <p>Linhares, Espirito Santo, Brasil</p>
    <p>
      Estou em busca de entrar na área de desenvolvimento. Devido a isso resolvi
      abraçar a stack JS pois atua no Frontend/ Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/Gustavo_Bruno_Desenvolvedor_FrontEnd.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            DownloadCv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/gustavobrunoferreira/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="contato whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5527995225151&text=ol%C3%A1%20Gustavo,%20preciso%20de%20um%20trabalho!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (27) 99522-5151</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="contato whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:gustavobrun1224@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>gustavobrun1224&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
